.navbar {
   background: $clr-grey-800;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 999;

   .navbar-collapse {
      display: flex;
   }

   .navbar-brand {
      font-weight: 700;
      color: $clr-fff;
   }

   .navbar-nav {
      display: flex;
      width: 100%;
      justify-content: end;
      align-items: center;
   }

   li {
      .nav-link {
         color: $clr-grey-100;

         &:hover {
            color: $clr-grey-200;
         }
      }

      .nav-link.active {
         color: $clr-fff;
      }
   }
}