@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p, span, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.navbar {
  background: #333333;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
.navbar .navbar-brand {
  font-weight: 700;
  color: #fff;
}
.navbar .navbar-nav {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.navbar li .nav-link {
  color: #b3b3b3;
}
.navbar li .nav-link:hover {
  color: #cccccc;
}
.navbar li .nav-link.active {
  color: #fff;
}
.navbar form {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
}
.navbar form input {
  height: 30px;
  background: none;
  border: none;
  border: 2px solid hsl(14, 100%, 55%);
  border-radius: 0;
  color: #cccccc;
  box-shadow: none;
}
.navbar form input:focus {
  background: none;
  color: #fff;
  border: 2px solid hsl(14, 100%, 55%);
  box-shadow: none;
}
.navbar form button {
  color: #fff;
  background: none;
  border: none;
  transition: 0.3s ease;
}
.navbar form button:hover {
  color: hsl(14, 100%, 55%);
}

.Home {
  height: 100vh;
  background: #1a1a1a;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6e6e6;
}
.Home .left {
  min-width: 220px;
}
.Home .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Home .right h1 {
  font-weight: 700;
}
.Home .right h1 span {
  color: hsl(14, 100%, 55%);
}

.Nosotros {
  min-height: 100vh;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MakerPlace {
  min-height: 100vh;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tienda {
  min-height: 100vh;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Carrito {
  min-height: 100vh;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widgetContainer {
  background: #4d4d4d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 3px;
}
.widgetContainer button {
  background: none;
  border: none;
  color: hsl(14, 100%, 55%);
}

.ItemListWrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: #1a1a1a;
}
.ItemListWrapper .ItemListContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 100px 0;
}
.ItemListWrapper .ItemListContainer .ItemContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 5px;
  background: #333333;
  color: #fff;
  border-radius: 3px;
  overflow: hidden;
}
.ItemListWrapper .ItemListContainer .ItemContainer img {
  height: 150px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.ItemListWrapper .ItemListContainer .ItemContainer .itemDetails {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  height: 100%;
}
.ItemListWrapper .ItemListContainer .ItemContainer .itemDetails h2 {
  font-size: 1rem;
  font-weight: 600;
}
.ItemListWrapper .ItemListContainer .ItemContainer .itemDetails p {
  font-size: 2rem;
  color: #cccccc;
}
.ItemListWrapper .ItemListContainer .ItemContainer .itemDetails .detalles {
  text-decoration: none;
  color: hsl(14, 100%, 55%);
}

.detailContainer {
  width: 100%;
  height: 100vh;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailContainer .mensaje {
  color: hsl(14, 100%, 55%);
}
.detailContainer .detailWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #333333;
  padding: 1rem;
  border-radius: 3px;
}
.detailContainer .detailWrapper .detailFoto img {
  height: 500px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1px;
}
.detailContainer .detailWrapper .detailProducto {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.detailContainer .detailWrapper .detailProducto .contadorContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}
.detailContainer .detailWrapper .detailProducto .contadorContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4d4d4d;
  padding: 8px 32px;
  border: none;
  color: #fff;
  font-size: 1rem;
}
.detailContainer .detailWrapper .detailProducto .contadorContainer .contador {
  display: flex;
  gap: 1rem;
  align-items: center;
}/*# sourceMappingURL=main.css.map */